.instructions-modal .modal-dialog {
    max-width: 900px !important; /* Override Bootstrap default with !important */
    margin-right: auto;
    margin-left: auto;
}

.outerdiv{
    padding: 4cqh;
}
.instructiondiv{
border-bottom: 1px solid black;
margin-bottom: 15px;
}

.inpputdiv input{
    width: 500px;
}

.submitbtn{
    display: flex;
    justify-content: center;
}

.submitbtn button{
    background-color: #3457D5;
    border:none;
    width: 300px;

}

.divouter{
    margin-bottom: 50px;
}

.emailerror{
    color: red;
}